* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Verdana;
}

a:link {
    color: #725923;
    text-decoration: none
}

a:visited {
    color: #55421a;
    text-decoration: none
}

a:hover {
    color: #000000;
    background: #d5cbed;
    background-image: none;
    text-decoration: underline overline;
}

a:active {
    color: #ffe69b;
}







/*
     FILE ARCHIVED ON 01:54:30 Feb 08, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:11:40 Jan 13, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 111.079
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.058
  cdx.remote: 0.054
  esindex: 0.009
  LoadShardBlock: 57.095 (3)
  PetaboxLoader3.datanode: 476.887 (4)
  load_resource: 1592.975
  PetaboxLoader3.resolve: 1146.628
*/
