*{margin:0; padding: 0;}


body {
 
 font-family: Verdana;



 
 }

a:link		
 
   {
 
color: #725923; text-decoration: none

}

a:visited	

   {

color: #55421a; text-decoration: none

}

a:hover		
 
  {

color: #000000; 
background: #d5cbed;
background-image: none;
text-decoration: underline overline;

}

a:active	{

color: #ffe69b;

}







/*
     FILE ARCHIVED ON 13:31:42 Oct 30, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:00:33 Jan 19, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 103.285
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.071
  cdx.remote: 0.057
  esindex: 0.008
  LoadShardBlock: 75.716 (3)
  PetaboxLoader3.datanode: 127.268 (5)
  load_resource: 261.484 (2)
  PetaboxLoader3.resolve: 99.754 (2)
*/